body {
  font-size: 18px;
  font-family: Georgia;
  color: #333333;
}

.title {
  text-align: center;
}

h1 {
  display: inline;
}

a {
  color: #333333;
}

code pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table th {
  display: none;
}

h3 em {
  color: #959595;
}
