body {
  font-size: 18px;
  font-family: Georgia;
  color: #333333;
}

.title {
  text-align: center;
}

h1 {
  display: inline;
}

a {
  color: #333333;
  text-decoration: none;
  background-image: url(underline.png);
  background-repeat: repeat-x;
  background-position: 0 88%;
  text-shadow: -0.18em 0 0 white, 0.18em 0 0 white, -0.12em 0 0 white, 0.12em 0 0 white, -0.06em 0 0 white, 0.06em 0 0 white, 0 -1px 0 white, 0 1px 0 white;
}

h1, h2, h3, h4, h5 {
  background-image: url(underline.png);
  background-repeat: repeat-x;
  background-position: 0 88%;
  text-shadow: -0.18em 0 0 white, 0.18em 0 0 white, -0.12em 0 0 white, 0.12em 0 0 white, -0.06em 0 0 white, 0.06em 0 0 white, 0 -1px 0 white, 0 1px 0 white;
}

code pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table th {
  display: none;
}

h3 em {
  color: #959595;
}
